$color-primary: hsl(355, 100%, 36%);
$color-secondary: hsl(150, 28%, 35%);
$color-secondary--light: hsl(0, 0%, 95%);
$color-tertiary: hsl(0, 0%, 0%);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  color: $color-secondary--light;
  background-color: $color-tertiary;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1.6rem;
  font-family: 'Bungee Inline', cursive;
  text-rendering: optimizeSpeed;
  display: grid;
  grid-template-rows: 1fr auto;
  justify-items: center;
}
