@use './base' as *;

.cipher {
  &__main {
    width: 100%;
    margin: 5rem 0;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__heading {
    color: $color-primary;
    font-size: clamp(2rem, 13vw, 10rem);
    font-family: 'Bungee Shade', cursive;
    font-weight: normal;
    margin-bottom: 5rem;
    text-shadow: 0 0 10px $color-primary, 0 0 20px $color-primary,
      0 0 40px $color-primary;
  }

  &__form {
    width: 90%;
    border: 0.3rem solid $color-primary;
    background-color: rgba($color-primary, 0.4);
    border-radius: 1rem;
    margin-left: 3rem;
    padding: 2rem;
    box-shadow: -20px 20px 10px $color-primary, -20px 20px 20px $color-primary,
      -20px 20px 40px $color-primary;

    & > *:not(:last-child) {
      margin-bottom: 2rem;
    }

    @media (min-width: 810px) {
      width: 100%;
      padding: 4rem;
      margin-left: 0;
    }
  }

  &__label {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  &__input {
    width: 100%;
    background-color: rgba($color-secondary--light, 0.5);
    font-size: 2rem;
    border: 0;
    border-radius: 0.2rem;
    padding: 1rem;
    caret-color: $color-primary;
    transition: all 0.2s;

    &:focus-visible {
      outline: 0.5rem solid $color-primary--dark;
    }

    &:disabled {
      color: $color-tertiary;
    }
  }

  &__btn {
    width: 47%;
    color: $color-secondary--light;
    background: unset;
    font-size: 2rem;
    border-radius: 0.2rem;
    border: 0.3rem solid $color-tertiary;
    padding: 1rem 0;
    cursor: pointer;
    transition: all 0.3s;

    &--reset {
      &:hover {
        color: rgba($color-secondary--light, 0.7);
      }
    }

    &--copy {
      background-color: $color-secondary;

      &:hover {
        background-color: rgba($color-secondary, 0.7);
      }
    }
  }

  &__footer {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 2rem;

    &-link:link,
    &-link:visited {
      text-transform: uppercase;
      color: $color-primary;
      transition: all 0.3s;
    }

    &-link:hover,
    &-link:active {
      color: $color-secondary--light;
    }
  }
}
